<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/views/public/assets/css/burger_style.css" type="text/css" />
     </head>
        <title>
        EAT-DA-BURGER!
        </title>
        <body>
            {{{body}}}
        </body>
   
</html>